# Inserting to the MySQL database example

In [10]:
import pymysql.cursors
from pymysql.cursors import DictCursor
from datetime import datetime
from os import environ as ENV
from dotenv import load_dotenv

## Connect to the database

In [4]:
load_dotenv()

True

In [20]:
conn = pymysql.connect(host=ENV['DB_HOST'],
               user=ENV['DB_USER'],
               password=ENV['DB_PASSWORD'],
               database=ENV['DB_NAME'],
               port=int(ENV['DB_PORT']),
               cursorclass=DictCursor)

In [18]:
datetime_obj = datetime.strptime("2025-01-13 09:21:00", "%Y-%m-%d %H:%M:%S")
with conn:
    with conn.cursor() as cur:
        query = """
            INSERT INTO FACT_Transaction 
                (transaction_id,
                truck_id,
                payment_method_id,
                total,
                at)
            VALUES 
                (%s, %s, %s, %s, %s);
        """
        cur.execute(query, (2, 4, 1, 10.7, datetime_obj))
    conn.commit()

In [21]:
with conn:
    with conn.cursor() as cur:
        query = "SELECT * FROM transaction_info ORDER BY at ASC LIMIT 1;"
        cur.execute(query)
        result = cur.fetchone()
        print(result)

{'transaction_id': 2, 'truck_id': 4, 'truck_name': "Hartmann's Jellied Eels", 'total': Decimal('10.70'), 'payment_method': 'cash', 'at': datetime.datetime(2025, 1, 13, 9, 21)}