# Inserting to the MySQL database example

In [1]:
import pymysql.cursors
from pymysql.cursors import DictCursor
from datetime import datetime
from os import environ as ENV
from dotenv import load_dotenv

## Connect to the database

In [2]:
load_dotenv()

True

In [5]:
conn = pymysql.connect(host=ENV['DB_HOST'],
               user=ENV['DB_USER'],
               password=ENV['DB_PASSWORD'],
               database=ENV['DB_NAME'],
               port=int(ENV['DB_PORT']),
               cursorclass=DictCursor)

## Inserting a set of values into the transaction table

In [18]:
datetime_obj = datetime.strptime("2025-01-13 09:21:00", "%Y-%m-%d %H:%M:%S")
with conn:
    with conn.cursor() as cur:
        query = """
            INSERT INTO FACT_Transaction 
                (transaction_id,
                truck_id,
                payment_method_id,
                total,
                at)
            VALUES 
                (%s, %s, %s, %s, %s);
        """
        cur.execute(query, (2, 4, 1, 10.7, datetime_obj))
    conn.commit()

## Checking insertion and fetch

In [6]:
with conn:
    with conn.cursor() as cur:
        query = "SELECT * FROM transaction_info ORDER BY transaction_id ASC LIMIT 20;"
        cur.execute(query)
        result = cur.fetchall()
    for row in result:
        print(row)

{'transaction_id': 1, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('7.00'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 9, 6)}
{'transaction_id': 2, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('8.40'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 9, 11)}
{'transaction_id': 3, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('7.00'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 9, 21)}
{'transaction_id': 4, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('7.00'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 9, 36)}
{'transaction_id': 5, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('7.00'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 9, 44)}
{'transaction_id': 6, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('10.60'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 9, 59)}
{'transaction_id': 7, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('10.00'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 10, 23)}
{'transaction_id': 8, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('7.00'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 11, 0)}
{'transaction_id': 9, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('7.00'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 11, 8)}
{'transaction_id': 10, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('8.30'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 11, 15)}
{'transaction_id': 11, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('7.00'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 11, 26)}
{'transaction_id': 12, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('7.00'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 11, 37)}
{'transaction_id': 13, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('10.70'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 11, 47)}
{'transaction_id': 14, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('10.20'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 11, 49)}
{'transaction_id': 15, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('7.00'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 12, 0)}
{'transaction_id': 16, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('9.60'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 12, 2)}
{'transaction_id': 17, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('9.10'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 12, 13)}
{'transaction_id': 18, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('7.00'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 12, 14)}
{'transaction_id': 19, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('7.00'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 12, 18)}
{'transaction_id': 20, 'truck_id': 1, 'truck_name': 'Burrito Madness', 'total': Decimal('7.00'), 'payment_method': 'card', 'at': datetime.datetime(2025, 1, 13, 12, 19)}